.Main {
    display: block;
    align-items: center;
}

.CompanyName {
    margin-top: 20vh;
    text-align: center;
    font-weight: bold;
    font-size: 10vw;
    transition: 1s;
    color: #919191;

    &:hover {
        font-size: 11vw;
        color: white;
    }
}


.About {
    margin-top: 15vh;
    text-align: center;
    margin-left: 20%;
    width: 60%;
    font-size: 2vw;
    color: #919191;
    transition: 1s;

    &:hover {
        color: white;
    }
}


.Buttons {
    margin: 10vh 0 30vh 0;
    display: flex;
    justify-content: center;
}
