.WorkersDropList {
    & .WorkersSearchForm {
        padding: 1vh 0 1vh 0;
        border-top: 2px solid white;
        height: 4vh;

        display: flex;
        justify-content: space-between;
        & input {
            border-radius: 1vw;
            border: 1px solid white;
            background: black;
            color: white;
            width: 25%;
            margin: 0 5% 0 5%;
        }

        & .DefaultButton {
            height: 3.7vh;
        }
    }


    & .WorkersTable {
        display: grid;
        width: 100%;
        color: white;

        border-top: 2px solid white;

        & p+p {
            border-left: 2px solid white;
        }

        & .WorkersTableHead{
            display: flex;
            border-bottom: 2px solid white;

            & p {
                padding: 1vh 0 1vh 0;
                font-weight: bold;
                width: 100%;
            }
        }

        & .WorkersTableBody {
            display: grid;

            & .WorkersTableRow {
                display: flex;

                & p, div {
                    padding: 0.5vh 0 0.5vh 0;
                    width: 100%;

                    transition: all 0.5s;

                    &:hover {
                        background-color: #1e1f22;
                    }
                }

                & > div {
                    display: flex;
                    justify-content: space-between;
                    border-left: 2px solid white;
                }

                & .DeleteButton {
                    width: 10%;
                }
            }

            & .Closed {
                background: #220009;
            }
        }

        & . {
            border-left: 2px solid white;
        }
    }
}