@keyframes move-border {
    0% {transform: translate(10%, 10%)}
    100% {transform: translate(-10%, -10%)}
}

.MenuButton {
    text-align: center;
    font-size: 1.8vw;
    height: 100%;
    width: 100%;
    color: white;

    transition: all 0.3s;
    background-color: black;
    border-bottom: 2px solid #1b1a1a;
    padding: 2vh 0 0 0;

    &:hover {
        border-bottom: 2px solid white;
        background-color: #454343;
        cursor: pointer;
    }
}

.Active {
    border-bottom: 2px solid white;
}