@keyframes fast-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.RestoreButton {
    margin-right: 3%;
    height: 5vh;

    &:hover {
        animation: fast-rotate 1s;
    }

    & .RestoreIcon {
        height: 100%;
    }
}