.DefaultButton {
    margin: 0 1vw 0 1vw;
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 1vw;

    font-family: monospace;
    font-size: 150%;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: -1;

        background-color: gray;
        transition: all .3s;
    }

    &:hover {
        color: white; /* Цвет текста при наведении */
        cursor: pointer;

        &:before {
            width: 100%; /* Заполнение всей кнопки цветом при наведении */
        }
    }

    &:active {
        color: black;
        border: 3px dashed black;

        &:before {
            background-color: white;
        }
    }
}