.AddProjectForm {
    display: grid;
    place-items: center;
}

.AddProjectForm .Title {
    text-align: center;
    font-size: 3vw;
    color: #919191;
    transition: 1s;
    margin: 2vh 0 4vh 0;
    &:hover {
        color: white;
    }
}


.AddProjectForm textarea {
    border: none;
    border-radius: 1vw;
    width: 70%;
    margin: 1vh 0 1vh 0;
    box-sizing: border-box;
    resize: vertical;
    padding: 0.8vw;

    font-size: 1.2vw;
    height: 3vw;
    color: black;

    transition: all 0.3s;

    &:focus {
        color: white;
        background-color: black;
        border: none;
    }
}


.AddProjectForm select {
    appearance: none;
    width: 40%;
    height: 5vh;
    margin: 1vw 0 0 1vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.2vw;
    transition: all 0.5s;

    &:focus {
        color: white;
        background-color: black;
    }
}


.AddProjectForm .SubmitButton {
    width: 10%;
    height: 5vh;
    background-color: #00f600;
    border: 0.01vw solid black;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 1.2vw;
    font-family: monospace;

    transition: all .3s;
    position: relative;
    margin: 1vw 0 0 1vw;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #8ef18e;
        transition: all .3s;
        border-radius: 1vw;
        z-index: -1;
    }

    &:hover {
        width: 10.5%;
        height: 5.15vh;

        &:before {
            width: 100%; /* Заполнение всей кнопки цветом при наведении */
        }
    }
}