
.AddButton {
    width: 10%;
    height: 3vh;
    background-color: #00f600;
    border: 0.01vw solid black;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;
    position: relative;
    margin: 1vw 0 0 1vw;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #8ef18e;
        transition: all .3s;
        border-radius: 1vw;
        z-index: -1;
    }

    &:hover {
        width: 10.5%;
        height: 3.15vh;

        &:before {
            width: 100%; /* Заполнение всей кнопки цветом при наведении */
        }
    }
}

.AddButton .AddIcon {;
    height: 60%;
}