.ProjectsCard {
    background-color: white;
    border-radius: 1vw;
    margin: 2% 0 2% 0;
    width: 90%;
    height: 20vh;

    display: block;
    transition: 0.5s;

    &:hover {
        width: 91%;
        height: 20.5vh;
    }

    .RestoreButton {
        margin-top: 0.5vh;
        height: 3vh;
    }
}

.Closed {
    background-color: gray;
}

.ProjectsCard .Title {
    display: flex;
    justify-content: space-between;
    height: 20%;
    border-bottom-style: solid;
}

.ProjectsCard .DeleteButton {
    margin-top: 0.5vh;
}

.ProjectsCard .Title .Text {
    margin: 1vh 0 1vh 3vw;
    font-weight: bold;
}

.ProjectsCard .Description {
    height: 80%;
}

.ProjectsCard .Description .Text {
    margin: 1vh 1vw 1vh 1vw;
}